*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* main body */
.title{
    font-size: 35px;
}

.sub-title{
    font-size: 25px;
    font-weight: bold;
}
/* main body end */




/* popup msg */
#popup_msg_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 350px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}
#popup_msg_box i{
    font-size: 100px;
}

#popup_msg_box p{
    font-size: 20px;
}

#popup_msg_box button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    
}
/* popup msg end */

/* blur screen */
#blur_screen{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
}
/* blur screen end */




/* responsive */
@media screen and (max-width: 500px) {
    #main_body{
        margin-top: 365px;
    }
    .title{
        font-size: 25px;
    }
    #popup_msg_box{
        width: 350px;
    }
}
/* responsive end */